.contentt{
  padding-top: 8%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.imacontent4 {
  text-align: center;
  position: relative;
}

.imagen2 {
    width: 18rem;
    height: 18rem; 
    border-radius: 1.5rem;
}

.containerimgs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 98%;
  
}

.containerimgs > *:first-child {
  margin-bottom: 10px; /* Cambia el valor según la separación que desees */
}

.containerimgs > *:last-child {
  margin-top: 10px; /* Cambia el valor según la separación que desees */
}

  

  .bututu {
    bottom: 100px;
    position: absolute;
    width: 70%;
    border-radius: 1rem;
    padding: 4px;
    font-size: medium;
    color: white;
    background-color: #000000;
    font-family: 'Bahnschrift Light Condensed', sans-serif;
    border: none;
    transition: background-color 0.3s ease;
}

  
  .bututu:hover {
    background-color: #ffffff;
    border: solid 2px #000000;
    padding: 4px;
    color: black;
  }  

  .pepooo{
    margin-top: 10%;
    font-size: 50px !important;
  }