.separate{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
    min-height: 85vh;
}

.rin{
    transform: translateX(60px);
}

@media (max-width: 768px) {

    .susbcripcaru{
        width: 200px !important;
        height: 170px !important;
    }

    .separate {
        margin: 0%;
        padding: 0%;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        min-height: 100vh;
    }

    .tp{
        margin-bottom: 10%;
    }

    .separate{
        padding-bottom: 25%;
    }

    .servima {
        
        height: 50vh !important;
        object-fit: cover;
    }
    
    .rin{
        transform: translateX(0px);
    }

    .tero{
        padding: 0%;
        height: 20%;
        transform: translateY(0px);
    }
}

.tp:hover{
border: white solid;
}

.watsappima{
    padding: 1px;
}

.watsappimaa {
    padding: 1px;
    border-radius: 50%;
    border: 2px solid black;
}

.servima {
    width: 100%;
    height: 85vh;
  }
  
.tero{
    padding: 3%;
}

.muvet{
    transform: translateY(20px);
}

.containercarusel{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.susbcripcaru1{
    width: 200px;
    height: 250px;
    margin: 5px;
    transform: translateY(-8px);
    
}

.susbcripcaru{
    width: 200px;
    height: 250px;
    border-radius: 1rem;
}

.exx{
    padding: 3%;
}

.espaciadodd{
    margin-left: 8%;
}

.textoinrela{
   
    font-size: 16px !important;
}
  
 .modal-body {
    justify-content: space-between !important;
    width: 100%;
    
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más largo que la altura máxima */
  }
  
  /* Puedes agregar estilos adicionales según tus necesidades */
  .custom-modal{
    width: 100%;

  }