.separate{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    min-height: 94.6vh;
}

@media (max-width: 768px) {
    .separate {
        margin: 0%;
        padding: 0%;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .servima {
        width: 100% !important;
        height: 50vh !important;
        object-fit: cover;
    }
    

    .tero{
        padding: 0%;
        height: 20%;
        transform: translateY(0px);
    }
}

.tp:hover{
border: white solid;
}

.watsappima{
    padding: 1px;
}

.watsappimaa {
    padding: 1px;
    border-radius: 50%;
    border: 2px solid black;
}

.servima {
    width: 800px;
    height: 94.6vh;
  }
  



.tero{
    transform: translateY(-80px);
    padding: 2%;
}

.muvet{
    transform: translateY(20px);
}

.containercarusel{
    position: relative;
    width: 1000px;
    height: 94.6vh;
}

.susbcripcaru1{
    width: 200px;
    height: 250px;
    margin: 5px;
    
    transform: translateY(-8px);
    
}

.susbcripcaru{
    width: 200px;
    height: 250px;
    border-radius: 1rem;
}

.exx{
    padding: 3%;
}

.espaciadodd{
    margin-left: 8%;
}

.textoinrela{
    margin-bottom: 5%;
    width: 220px;
    font-size: 16px !important;
}
  
 .modal-body {
    justify-content: space-between !important;
    width: 100%;
    
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si el contenido es más largo que la altura máxima */
  }
  
  /* Puedes agregar estilos adicionales según tus necesidades */
  .custom-modal{
    width: 100%;
  }